:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}


html {
  box-sizing: border-box;
  font-size: 62.5%; 
  overflow-y: scroll;
  background: var(--greyLight-1);
  
  @media screen and (min-width: 900px) {
        font-size: 90%; }
}

#root {
  margin: 0 20px;
}

.App {
  text-align: center;
}

body {
  color: var(--primary-dark);
  font-family: 'Ubuntu', sans-serif;

}

h2 {
  font-size: 3.6rem;
  text-align: center;
}

.main {
  max-width: 80rem;
  margin: 2rem auto;
  padding: 2%;
  background: var(--greyLight-1);
  box-shadow:.8rem .8rem 1.4rem var(--greyLight-2), 
            -.2rem -.2rem 1.8rem var(--white);

  border-radius: 1rem;
}

.tasks {
  margin-bottom: 1.5rem;
  position: relative;
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.task__container {
    color: var(--primary);
    border-radius: 1rem;
    box-shadow:.8rem .8rem 1.4rem var(--greyLight-2), 
            -.2rem -.2rem 1.8rem var(--white);
    overflow: hidden;
    margin-bottom: 15px;
}

.task__info {
  position: relative;
  z-index: 5;
  width: 80%;
  font-size: 1.8rem;
}

/*Switch*/


.switch input {
  display: none;
}
.switch__1 {
  width: 5.5rem;
}
.switch__1 label{
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  background: rgba(255, 255, 255, 0);
  position: relative;
  cursor: pointer;
  border-radius: 1.6rem;
}
.switch__1 label::after, .switch__2 label::after {
  content: "";
  position: absolute;
  left: 0.4rem;
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
  background: var(--greyDark);
  transition: all 0.4s ease;
}
.switch__1 label::before, .switch__2 label::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(330deg, var(--primary-dark) 0%, var(--primary) 50%, var(--primary-light) 100%);
  opacity: 0;
  transition: all 0.4s ease;
}
.switch input:checked ~ label::before {
  opacity: 1;
}
.switch input:checked ~ label::after {
  left: 57%;
  background: var(--greyLight-1);
}

/*Buttons*/

.btn {
  width: 15rem;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn__primary {
  grid-column: 1/2;
  grid-row: 4/5;
  background: var(--primary);
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light), inset -0.2rem -0.2rem 1rem var(--primary-dark), 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--greyLight-1);
}
.btn__primary:hover {
  color: var(--white);
}
.btn__primary:active {
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark), inset -0.2rem -0.2rem 1rem var(--primary-light);
}

.btn__secondary {
  grid-column: 1/2;
  grid-row: 5/6;
  color: var(--greyDark);
}
.btn__secondary:hover {
  color: var(--primary);
}
.btn__secondary:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}

.btn-add {
  width: 100%;
  margin-bottom: 2rem;
  border: none;
  padding: 1rem 0;
  color: white;
  transform: scale(1);
  transition: 0.3s;
}

.btn-add:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.createTask {
  width: 100%;
  background: var(--greyLight-1);
  box-shadow:.8rem .8rem 1.4rem var(--greyLight-2), 
            -.2rem -.2rem 1.8rem var(--white);
  padding-top: 20px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: absolute;
  z-index: 100;
  animation: desplazar 1s;
  animation-fill-mode: forwards;
  font-size: 3rem;

}

@keyframes desplazar {
  0%{
    top: 100%;
  }
  100%{
    top: 0;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem 1rem;
}

input {
  background-color: transparent;
  border: none;
  color: var(--primary-dark);
  outline: none;
}

input::placeholder {
  color: var(--primary-light);
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spiner {
  border: 4px solid var(--primary-light);
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  border-left-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.pagination__button {
  background-color: var(--primary-dark);
  padding: .5rem 1rem;
  color: white;
  border: none;
  border-radius: .7rem;
}

.pagination__button:hover {
  cursor: pointer;
}

.button {
  background-color: transparent;
  border: none;
  color:var(--primary);
  font-size: 24px;
  position: relative;
  z-index: 5;
}

.close {
  color: #FF2977;
  position: absolute;
  top: 2%;
  right: 2%;
}

.submit-btn {
  width: 100%;
  color: var(--primary);
  border: none;
  border-radius: 2rem;
  background-color: transparent;
  padding: 1rem 0;
}

.submit-btn:hover {
  background-color: white;
  color: var(--primary);
}

.displayButtons {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
}

.btn-display {
  width: 33%;
}